.hero {
	min-height: 100vh;
	background: url('../../../public/img/herobg.png') center no-repeat;
	background-size: cover;

	.content {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin-top: 8%;

		.typing {
			color: #57ff86;
		}

		h1 {
			font-size: 78px;
			font-weight: bold;
			position: relative;
			margin-bottom: 1rem;
			text-align: center;

			img {
				position: absolute;
				top: 50%;
				left: 105%;
			}
		}

		.desc {
			display: block;
			width: 800px;
			text-align: center;
		}
	}

	@media screen and (max-width: 799px) {
		.content {
			.desc {
				width: 600px;
			}
		}
	}

	@media screen and (max-width: 699px) {
		.smile {
			display: none;
		}
	}

	@media screen and (max-width: 599px) {
		.content {
			.desc {
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 426px) {
		.content {
			h1 {
				font-size: 50px;
			}
		}
	}
}
