.nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-width: 100vw;
	height: 8vh;
	padding: 8px 10px;
	* {
		overflow: hidden;
	}

	.hamburger {
		display: none;
		cursor: pointer;
	}

	.content {
		display: flex;
		justify-content: space-around;
		width: 100vw;

		.logo {
			display: flex;
			align-items: center;

			img {
				width: 60px;
				height: 60px;
			}
		}

		.links {
			display: flex;
			align-items: center;
			gap: 100px;

			a {
				font-size: 18px;
				font-weight: lighter;
				text-decoration: none;
				color: white;
			}

			a:hover {
				color: #57ff86;
			}
		}

		.icons {
			display: flex;
			align-items: center;
			gap: 20px;

			a {
				text-decoration: none;
				color: white;
			}

			a:hover {
				color: #57ff86;
			}

			svg {
				height: 40px;
			}
		}
	}

	@media screen and (max-width: 799px) {
		& {
			justify-content: center;
			gap: 70vw;
		}

		.hamburger {
			position: absolute;
			z-index: 11;
			right: 20px;
			display: block;
			flex-direction: column;

			svg {
				height: 40px;
			}
		}

		.content {
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			display: none;
			align-items: center;
			flex-direction: column;
			justify-content: space-around;
			width: 100vw;
			height: 100vh;
			background-color: #1f1f1f;
			gap: 50px;
		}

		.links {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 50px;
		}
	}
}
