.hero {
    min-height: 100vh;
    background: url('../../../public/img/herobg.png') center no-repeat;
    background-size: cover;

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 8%;

        h1 {
            font-size: 78px;
            font-weight: bold;
            position: relative;
            margin-bottom: 1rem;
            text-align: center;

            .typing {
                overflow: hidden;
                animation: typewriter 4s steps(60) 1s infinite alternate both,
                blinkTextCursor 500ms steps(30) infinite normal;
                text-align: left;
                white-space: nowrap;
                color: #57FF86;
                border-right: 5px solid #57FF86;
            }

            img {
                position: absolute;
                top: 50%;
                left: 105%;
            }
        }

        .desc {
            display: block;
            width: 800px;
            text-align: center;
        }
    }

    @keyframes typewriter {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    @keyframes blinkTextCursor {
        from {
            border-right-color: #57FF86;
        }
        to {
            border-right-color: transparent;
        }
    }

    @media screen and (max-width: 800px) {
        .content {
            .desc {
                width: 600px;
            }
        }
    }

    @media screen and (max-width: 699px) {
        img {
            display: none;
        }
    }

    @media screen and (max-width: 599px) {
        .content {
            .desc {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 426px) {
        .content {
            h1 {
                font-size: 50px;
            }
        }
    }
}